apiVersion: v1
kind: Secret
metadata:
  name: testdocker-secret  # Secret name
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: ewogICJhdXRocyI6IHsKICAgICJodHRwczovL2luZGV4LmRvY2tlci5pby92MS8iOiB7CiAgICAgICJhdXRoIjogImJtRm1ZV1ZpYlRwa1kydHlYM0JoZEY5b1VrRnRTMFJOUlhBNGJUTklhVFpWUjI4eGJHVjNWWFpWWWpBPSIKICAgIH0KICB9LAogICJIdHRwSGVhZGVycyI6IHsKICAgICJVc2VyLUFnZW50IjogIkRvY2tlci1DbGllbnQvMTkuMDMuMTIgKGxpbnV4KSIKICB9Cn0KCg==

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodeapp-deployment
  labels:
    app: nodeapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodeapp
  template:
    metadata:
      labels:
        app: nodeapp
    spec:
      imagePullSecrets:
        - name: testdocker-secret  # Reference to the secret created above
      containers:
      - name: nodeapp
        image: nafaebm/testdocker:b072b4c01c0380f868b6a0a058a628255fa8c927
        imagePullPolicy: Always  # Kubernetes will always pull the image from the registry, ensuring the latest version. it used specially in CI/CD
        ports:
        - containerPort: 5000
