# if it a private image from docker hub registery you need to add this secret section:
# otherwise get ride of it
apiVersion: v1
kind: Secret
metadata:
  name: testdocker-secret  # Secret name
type: kubernetes.io/dockerconfigjson
data:
    # To create the .dockerconfigjson, follow these steps:
# 1. Encode your Docker credentials:
#    echo -n "myusername:mypassword" | base64
# 2. Create the docker-secret.json file with the following content:
#    {
#      "auths": {
#        "https://index.docker.io/v1/": {
#          "auth": "dXNlcm5hbWU6cGFzc3dvcmQ="  # Base64-encoded username:password copied from the previous step
#        }
#      },
#      "HttpHeaders": {
#        "User-Agent": "Docker-Client/19.03.12 (linux)"
#      }
#    }
# 3. Encode the docker-secret.json file:
#    cat docker-secret.json | base64
# 4. Copy the result and put it under .dockerconfigjson in your Kubernetes Secret:
#    .dockerconfigjson: result-here
  .dockerconfigjson: ewogICJhdXRocyI6IHsKICAgICJodHRwczovL2luZGV4LmRvY2tlci5pby92MS8iOiB7CiAgICAgICJhdXRoIjogImJtRm1ZV1ZpYlRwa1kydHlYM0JoZEY5b1VrRnRTMFJOUlhBNGJUTklhVFpWUjI4eGJHVjNWWFpWWWpBPSIKICAgIH0KICB9LAogICJIdHRwSGVhZGVycyI6IHsKICAgICJVc2VyLUFnZW50IjogIkRvY2tlci1DbGllbnQvMTkuMDMuMTIgKGxpbnV4KSIKICB9Cn0KCg==

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodeapp-deployment
  labels:
    app: nodeapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodeapp
  template:
    metadata:
      labels:
        app: nodeapp
    spec:
#  this section is used when you add a secret file for the private repository that you will pull the image from
#      imagePullSecrets: 
#        - name: testdocker-secret  # Reference to the secret created above
      containers:
      - name: nodeapp
        image: nafaebm/testdocker:b072b4c01c0380f868b6a0a058a628255fa8c927
        imagePullPolicy: Always  # Kubernetes will always pull the image from the registry, ensuring the latest version. it used specially in CI/CD
        ports:
        - containerPort: 5000
